body{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #23362B;
}

#wrapper{
    width: 983px;
    margin:0 auto;
    padding:0px;
    background-color: #FFFFFF;
    position: relative;
}

#header{
    width:983px;
    height:105px;
    margin: 0px ;
    padding: 0px;
}

.header_logo{
    position:absolute;
    top:6px;
    left:15px;
    width:80px;
    height:102px;
}

#navigation{
    display: inline-block;
    margin-top:-30px;
    margin-bottom: 90px;
    margin-left:142px;
    margin-right: 40px;
    padding-left: 5px;
    padding-right: 5px;
    width: 791px;
}

#navigation span {
    display: none;
    position: absolute;
    list-style: none;
}

#navigation li{
    list-style: none;
}

#navigation ul{
    display: inline-block;
    margin-top: -11px;
    margin-bottom: 11px;
    margin-right: 13px;
    position: absolute;
}

#navigation a {
    display: block;
    position: absolute;
    outline: none;
}

#navigation .add {
    left: 100px;
    top: 75px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color:#003C00;
    border-right: solid 3px #808080;
    padding-right: 36px;
}

#navigation .weekly {
    left: 212px;
    top: 75px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color:#003C00;
    border-right: solid 3px #808080;
    padding-right: 36px;
}

#navigation .monthly {
    left: 353px;
    top: 75px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color:#003C00;
    border-right: solid 3px #808080;
    padding-right: 36px;
}

#navigation .calculator {
    left: 497px;
    top: 75px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color:#003C00;
}

#navigation a:hover {
    color:rgb(154, 163, 44);
}

#navigation_months{
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 25px;
}

#navigation_months ul,
#navigation_months li,
#navigation_months span,
#navigation_months a {
    margin: 0;
    padding: 0;
    position: relative;
}
#navigation_months:after,
#navigation_months ul:after {
    content: '';
    display: block;
    clear: both;
}
#navigation_months a {
    color: #333333;
    display: inline-block;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 11px;
    min-width: 35px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #eeeeee;
}
#navigation_months ul {
    list-style: none;
}
#navigation_months > ul > li {
    float: left;
}

#navigation_months > ul > li a {
    box-shadow: inset 0 0 0 1px #ffffff;
    -moz-box-shadow: inset 0 0 0 1px #ffffff;
    -webkit-box-shadow: inset 0 0 0 1px #ffffff;
    background: #bfbfbf url("photos/grad_light.png") repeat-x left top;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #e5e5e5), color-stop(51%, #d7d7d7), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    line-height: 27px;
    padding: 0 1px;
    filter: none;
}
#navigation_months > ul > li a:hover {
    background: #ffffff url("photo/grad_light.png") repeat-x left bottom;
    background: -moz-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d9d9), color-stop(50%, #bfbfbf), color-stop(51%, #b0b0b0), color-stop(100%, #c7c7c7));
    background: -webkit-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
    background: -o-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
    background: -ms-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
    background: linear-gradient(to bottom, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    filter: none;
}
#navigation_months > ul > li:first-child a {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-left: 1px solid #d2d2d2;
}

.main_content{
    width: 893px;
    text-align:center;
    font-family: verdana,helvetica,arial,sans-serif;
    margin-left:40px;
    margin-right: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 130px;
}

.welcome{
    font-size: 23px;
    font-weight: bold;
    color:#23362B;
}

img{
    display: inline-block;
}

#msg{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 16px;

}

#form{
    text-align:center;
    margin-top: 10px;
    margin-bottom: 45px;
    color: #003C00;
    font-weight: bold;
    display: inline-block;

}

input{
    border-radius: 13px 15px 15px 15px;
    -moz-border-radius: 13px 15px 15px 15px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-top:2px solid #8e8e8e;
    border-left:2px solid #8e8e8e;
    border-right:2px solid #23362B;
    border-bottom:2px solid #23362B;
    text-align: center;
}

.log{
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size:22px;
    font-weight: bold;
    color: #23362B;
    margin-right:354px;
}

.log_scr{
    font-size: 15px;
    color: rgb(99, 105, 22);
    font-weight: bold;
    text-decoration: none;
}

.label_log{
    color: #23362B;
    font-size: 18px;
    font-weight: bold;
}

.fields_log{
    background-color: rgb(250, 255, 189);
}

.submit_log{
    margin-right: -492px;
}

.log_reg{
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size:22px;
    font-weight: bold;
    color: #23362B;
    margin-right: 597px;
}

.label_reg{
    color: #23362B;
    font-size: 18px;
    font-weight: bold;
}

.fields_reg{
    background-color: rgb(250, 255, 189);
}

.submit_reg{
    margin-left: 751px;
}

.register_msg_suc{
    color: rgb(243, 255, 92);
    background-color: #b4b4b4;
}

.register_msg{
    color: rgb(243, 255, 92);
}

.fields_add{
    margin-right: 10px;
    background-color: rgb(250, 255, 189);
}

.users_add{
    margin-top: 15px;
    margin-right: 233px;
}

.submit_add{
    margin-top: 15px;
    margin-right: 476px;
}

.title{
    color: #003C00;
    font-family: verdana,helvetica,arial,sans-serif;
    margin-bottom: 50px;
    margin-top: 60px;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.title_additional{
    color: #003C00;
    font-family: verdana,helvetica,arial,sans-serif;
    margin-bottom: -17px;
    margin-top: 60px;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.title_additional_txt{
    font-family: verdana,helvetica,arial,sans-serif;
    color: #003C00;
    display: block;
    margin-bottom: 45px;
}

.title-calculator{
    color: #003C00;
    margin-bottom: 50px;
    margin-top: 60px;
    margin-right: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana,helvetica,arial,sans-serif;
}

.title_mly{
    color: #003C00;
    margin-bottom: 50px;
    margin-top: 60px;
    margin-right: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana,helvetica,arial,sans-serif;
}

.title_wly{
    color: #003C00;
    margin-bottom: 50px;
    margin-top: 60px;
    margin-right: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: verdana,helvetica,arial,sans-serif;
}

#table_all {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    display: inline-table;
}

#table_all_calc {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:737px;
    display: inline-table;
    margin-left: 165px;
}

.table_all_link a {
    display: block;
    text-decoration: none;
    color: #FF0000;
    font-family: verdana,helvetica,arial,sans-serif;
}

.pay_me a{
    display: inline;
    text-decoration: none;
    color: #FF0000;
    font-family: verdana,helvetica,arial,sans-serif;
}

.calc_text{
    font-size:20px;
}

.calc_date{
    font-size:16px;
}

#table_calc{
    display: inline-table;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 165px;
}

#table_all td,th{
    font-size:1em;
    border:1px solid #A9A9A9;
    padding:3px 7px 2px 7px;
}

#table_all_calc td,th{
    font-size:1em;
    border:1px solid #A9A9A9;
    padding:3px 7px 2px 7px;
}

#table_calc td,th{
    font-size:1em;
    border:1px solid #A9A9A9;
    padding:3px 7px 2px 7px;
}

#table_all th{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#F5F5DC;
    color:#000000;
}

#table_all_calc th{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#F5F5DC;
    color:#000000;
}

#table_calc th{
    font-size:1.1em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#F5F5DC;
    color:#000000;
}

.clearfooter {
    clear: both;
}

.text{
    position: relative;
    margin-top: 20px;
    text-align: left;
    margin-left: 230px;
    font-family: verdana,helvetica,arial,sans-serif;
    word-spacing: 2px;
}

.text_dates{
    position: absolute;
    margin-left: -25px;
    margin-top: 0px;
    font-family: verdana,helvetica,arial,sans-serif;
    word-spacing: 2px;
}

#text_past{
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #003C00;
}

.past_dates a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: verdana,helvetica,arial,sans-serif;
    background-color: #F5F5DC;
    margin-bottom: 4px;
}

.past_dates a:hover{
    text-decoration: underline overline;
}

#button{
  display: inline-block;
  margin-top:-30px;
  margin-bottom: 140px;
  margin-left:40px;
  margin-right: 40px;
  padding-left: 5px;
  padding-right: 5px;
  width: 712px;
}

#button span {
  display: none;
  position: absolute;
  list-style: none;
}

#button li{
    list-style: none;
}

#button ul{
    display: inline-block;
    margin-top: -11px;
    margin-bottom: 11px;
    margin-right: 13px;
    position: absolute;
}

#button a {
    display: block;
    text-indent: -900%;
    position: absolute;
    outline: none;
}

#button a:hover {
    background-position: center;
}

#button a:hover span {
    display: block;
}

#button .calc {
    width: 274px;
    height: 60px;
    background: url(photos/complete_pay.png) no-repeat;
    left: -123px;
    top: 73px;
}

#button .calc span {
    width: 712px;
    left: 0px;
    top: 0px;
}

#logout{
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-weight: bold;
    background-color: #F0F0F0;
}

#homeButton{
    display: inline-block;
    float: left;
}

#footer{
    color:#23362B;
    width:983px;
    text-align:right;
    font-family: verdana,helvetica,arial,sans-serif;
    font-size:12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_scr{
    display:inline-block;
    margin-right: 8px;
    margin-bottom: 1px;
}